/* importamos las fuentes */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&family=Yellowtail&display=swap');
*{
    font-family: "Titillium";
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

/*seccion inicio */
.inicio{
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)),
    url("images.jfif");
    background-size: cover;
    background-position: center center;
    color: #fff;
}
.inicio .contenido-sección{
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 0% 10px;
}
.inicio .contenido-sección header{
    padding: 30px;
    
}
/*menu lateral*/
.contenido-sección header nav{
    position: fixed;
    margin-left: 60px;
    background-color: #945353;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    z-index: 99;
    display: none;
}
.inicio .contenido-sección header nav a{
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: bold;
}
/* *********  */
.inicio .contenido-sección header .logo{
    font-weight: bold;
    font-size: 2.5rem;
    font-family: "yellowtall";
    text-shadow: 0 0 35px #3313e7;
}
.inicio .contenido-sección header .logo .color{
    color: #02948a;
    font-family: "yellowtail";
}
.inicio .contenido-sección header .nav_bar{
    position: fixed;
    background-color: #940253;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    cursor: pointer;
    transition: .3s;
}
.inicio .contenido-sección header .nav_bar:hover{
    box-shadow: 0 0 35px #fff;
}
.inicio .contenido-sección .info{
    padding-bottom: 130px;
}
.inicio .contenido-sección .info h1{
    font-size: 3rem;
    letter-spacing: 5px;
}
.inicio .contenido-sección .info h2{
    font-weight: normal;
    font-size: 28px;
    margin-top: 27px;
    letter-spacing: 3px;
}
.inicio .contenido-sección .info .redes{
    margin: 20px 0;
}
.inicio .contenido-sección .info .redes a{
    display: inline-block;
    text-decoration: none;
    background-color: #030a0e;
    color: #cb1479;
    border: 2px solid #029450;
    border-radius: 55%;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin: 0 6px;
    transition: .4s;
}
.inicio .contenido-sección .info .redes a:hover{
    color: #5c5b68;
    background-color: #1f181c;
    box-shadow: 0 0 20px #f3ebeb;
}
.inicio .contenido-sección .foto{
    position: relative;
}
.inicio .contenido-sección .foto img{
    max-width: 200px;
    border-radius: 50%;
    border: 10px solid #940253;
    position: absolute;
    left: auto;
    top: -100px;
    transform: translateX(-50%);
    height: 230px;
}
/* estilos generales */
.titulo-sección{
    font-family: "yellowtail";
    font-size: 1.9rem;
}
/* seccion sobre mi */
.sobremi{
    background-color: #e6e6e6;
    padding: 140px 0 100px;
    text-align: center;
}
.sobremi .contenido-sección{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}
.sobremi .contenido-sección h3{
    text-transform: uppercase;
    font-size: 30px;
}
.sobremi .contenido-sección .Especial{
    color: #f02092;
    font-weight: bold;
    margin-top: 20px;
}
.sobremi .contenido-sección .p{
    max-width: 700px;
    margin: auto;
    color: #c12121;
}
.sobremi .contenido-sección .fila{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}
.sobremi .contenido-sección .fila .col{
    width: 30%;
}
.sobremi .contenido-sección .fila .col{
    color: #171215;
    display: inline-block;
    width: auto;
    height: 40px;
    border: 3px solid #940253;
    line-height: 32px;
    border-radius: 50%;
}