/* importamos las fuentes */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&family=Yellowtail&display=swap');
*{
    font-family: "Titillium";
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

/*seccion inicio */
.inicio{
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)),
    url("images.jfif");
    background-size: cover;
    background-position: center center;
    color: #fff;
}
.inicio .contenido-sección{
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 0% 10px;
}
.inicio .contenido-seccion header{
    padding: 30px;

}
/*menu lateral*/
.contenido-seccion header nav{
    position: fixed;
    margin-left: 60px;
    background-color: #948253;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    z-index: 99;
}